@font-face {
    font-family: 'Alagard';
    src: url("alagard.ttf");
}
@font-face{
    font-family: 'Easvhs';
    src: url("easvhs.ttf")
}


.esbuttons{
    display: block;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.esbuttons .exit {
    justify-content: center;
    display: flex;
    width: 120px;
    padding: 5px;
    background: rgba(107, 107, 107, 0.1);
    color: #6B6B6B;
    border: 2px #6B6B6B solid;
    font-family: 'Easvhs';
    font-size: 20px;

    margin-bottom: 5px;
    
}

.esbuttons .save {
    justify-content: center;
    display: flex;
    width: 120px;
    padding: 5px;
    background: rgba(107, 107, 107, 0.1);
    color: #6B6B6B;
    border: 2px #6B6B6B solid;
    font-family: 'Easvhs';
    font-size: 20px;
}

/* idk if the button needs to be a link since it's not actually going anywhere */
a {
    text-decoration: none;
}

*{
    background: url(pixelbg3.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.popup {
    position: relative;
    margin: auto;
    /* cursor: pointer; */
}

.popup .popuptext {
    visibility: show;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 3;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    /* border-color: #555 transparent transparent transparent; */
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}